.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.dashboard {
  background-color: darkgrey;
}

.height {
  min-height: 100vh;
}

.meme {
  max-height: 35vh;
}

.box {
  
  margin: 20px;
}
.canvas {
  height: 100%;
  width: 100%;
}
.carousel{
  height: 100%;
  width: auto;
}

.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.below-nav {
  padding-top: 5rem;
}
.container {
  position: relative;
  text-align: center;
}
.mymemes {
  overflow: hidden;
}

.login {
  overflow-x: hidden;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
